{% extends 'blog/base.html' %}

{% block title %}
About - {{ block.super }}
{% endblock title %}

{% block content %}
<h1>About Me</h1>
<p>Hi! I'm Alexis Fitzpatrick. I started to learn to code about in 2016 and
  this website is my first published website entirely coded by myself. I also have
  a wordpress blog that I'll eventually relaunch on my own.</p><br>
<p>My bachelor's degree is in Mechanical Engineering and I've been working in
  Aerospace Composite Materials and Processes, for 10 years.
  I love it and expect to keep doing what I'm doing for a very long time. But on
  the side, I'm very crafty and love to learn new things. I knit, sew, do
  hardanger, make jewelry, do papercrafts and now I'm coding, which is just as
  creative, if not more so.</p><br>
<p>I started to learn programming with a desire to better manage my test data
  and was directed toward Python. I learned the basics and went to my first PyCon
  in Portland in 2016 and there I met up with Django and turned my interest to
  web development. I didn't get to attend the DjangoGirls event there, but I worked
  through their tutorial on my own to start this site and I'm continuing my
  eduction with HTML, CSS, Python, and Django using online resources and local
  and remote meetups.</p><br>
<p>In 2017 I volunteered to help organize DjangoCon in Spokane, where I lived at
  the time. I noticed the call for location proposals
  and got a local tech group to propose Spokane as their location and we got it!
  I attended Pycon again in 2017, which was right after I quit my Spokane job and
before I moved to Wichita for a new job at a much larger company. Being there
helped me decide to also organize a Django Girls in Spokane to go with DjangoCon!
It was a pretty great way to get DjangoGirls started in Spoakne with support from
other DjangoCon organizers and attendees. We are organizng a 2018 workshop and I
hope to continue for many more years.</p><br>


</p>
{% endblock content %}
