{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lexi Learns</title>

    <!-- Bootstrap CDN version 4.0 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Cookie|Dancing+Script|Great+Vibes|Indie+Flower|Kaushan+Script|Lato|Yellowtail" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- My custom CSS -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>
    <!-- Fixed collabsilble navbar with toggle on right-->
    <nav class="nav navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #ae76c1;">
      <a class="navbar-brand" href="{% url 'post_list' %}"><h1>Lexi Learns</h1></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars" aria-hidden="true"></span>
      </button>
      <div  class="collapse navbar-collapse justify-content-end" id="navbarToggler">
        <ul class="navbar-nav mr-0">
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><h3>About</h3></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}"><h3>Blog</h3></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><h3>Contact</h3></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}"><h3>Resume</h3></a></li>
        </ul>
      </div>
    </nav>



    <div class="container">

      {% if user.is_authenticated %}
      <div>
        <p>Hello {{ user.username }}
        <a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span></a>
        <a href="{% url 'post_new' %}"><span class="fa fa-plus"></span></a>
        <a href="{% url 'post_draft_list' %}"><span class="fa fa-edit"></span></a>
        </p>
      </div>
      {% else %}
        <!---<a href="{% url 'login' %}" class="top-menu"><span class="fa fa-lock"></span></a>-->
      {% endif %}

      <div class="content">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-10">
              {% block content %}
              {% endblock %}
          </div>
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="d-flex justify-content-center align-items-center">

        <p>
          <a href="mailto:hello@lexilearns.com?subject=Hello20%from20%the20%Blog"><i class="fa fa-envelope fa-2x"> </i> </a>
          <a href="http://twitter.com/AlexisMFitz" target="_blank"> <i class="fa fa-twitter fa-2x"> </i> </a>
          <a href="http://github.com/amfitz" target="_blank"> <i class="fa fa-github fa-2x"> </i> </a>
          <a href="http://www.linkedin.com/in/alexisfitzpatrick" target="_blank"> <i class="fa fa-linkedin fa-2x"> </i> </a>
          <a href="http://www.pinterest.com/lexilui/" target="_blank"> <i class="fa fa-pinterest fa-2x"> </i> </a>
        </p>

      </div>
    </footer>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>
