{% load staticfiles %}
<html>
  <head>
    <title>Lexi Learns</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Cookie|Dancing+Script|Great+Vibes|Indie+Flower|Kaushan+Script|Lobster+Two|Lato|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  </head>

  <body>
    <div id="container">
      <div class="page-header">

        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello {{ user.username }}<small>:<a href="{% url 'logout' %}">Log out</a></small></p>
        {% else %}
        <a href="{ url 'login' %}" class = "top-menu"><span class = "glyphicon glyphocon-lock"></span></a>
        {% endif %}
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6"><h1><a href="{% url 'blog.views.post_list' %}">Lexi Learns</a></h1>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 pull-right"><h2><a href="{% url 'blog.views.about' %}"> About </a>
            <a href="{% url 'blog.views.contact' %}"> Contact </a><a href="{% url 'blog.views.resume' %}"> Resume </a></h2>
          </div>
        </div>
      </div>

      <div class="content container">
          <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-10">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>

      <div id="footer">
        <div id="social">
          <a href="mailto:hello@lexilearns.com?subject=Hello20%from20%the20%Blog"><i class="fa fa-envelope fa-lg"></i></a>
          <a href="http://twitter.com/AlexisMFitz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="http://github.com/amfitz" target="_blank"><i class="fa fa-github fa-lg"></i></a>
          <a href="http://www.linkedin.com/in/alexisfitzpatrick" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
          <a href="http://www.pinterest.com/lexilui/" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
