{% extends 'blog/base.html' %}

{% block title %}
Resume - {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Education</h1>
<p><b>Eastern Washington University</b>, Cheney, WA</p>
<p>Graduated 2007</p>
<p>B.S. in Mechanical Engineering Technology and Design Technology</p>
<p>Minor in Business Administration</p>
<br>
<h1>Skills</h1>
<p>Materials Testing and Evaluation</p>
<p>Materials and Systems Qualification</p>
<p>Process Development and Qualification</p>
<p>FAA Certification</p>
<p>Project Management</p>
<p>Python and Django Web Development</p>
<br>
<h1>Experience</h1>
<h5><b>Triumph Composite Systems</b>, Spokane, WA</h5>
<p><b>Material Qualifications Engineer</b> January 2012 to Present</p>
<ul>
  <li>Lead engineer on a million dollar automated process cell to prepare and paint thermoplastic parts at rates not achieved manually. Managed project from process development to equipment installation and qualification. Negotiated with customer to prove out a more efficient solution to a process specification. </li>
  <li>Managed process qualification testing program and customer audit for automated paint cell. </li>
  <li>Wrote material and process specifications for a new floor panel program to meet customer requirements for a new mid range jet.</li>
  <li>Lead engineer for material qualification and flammability certification for floor panels for a new mid-range jet. Scheduled and witnessed test coupon manufacture and testing and managed documentation.</li>
  <li>Managed DOE to define appropriate insert design and adhesive materials to achieve higher than normal insert shear values. Worked with mechanics to make test coupons. Performed all testing and evaluation.</li>
</ul>
<br>
<h5><b>Triumph Composite Systems</b>, Spokane, WA</h5>
<p><b>Process Engineer</b> July 2008 to January 2012</p>
<ul>
<li>Developed edge seal tool and process to protect thermoplastic structural parts from corrosion.</li>
<li>Wrote material and process specifications to fabricate composite layup ECS ducting for a new private jet. </li>
<li>Performed material qualification for ECS ducting materials. Witnessed testing and wrote all documentation to suport qualificaiton.</li>
</ul>
<br>
<h5><b>Wagstaff</b>, Spokane, WA</h5>
<p><b>CAD Designer</b> February to June 2008</p>
<ul>
  <li>Modeled aluminum casting equipment using 3D software.</li>
</ul>


<br>
<h1>Volunteer</h1>
<p><b>ASME Inland Empire Section</b>, Chair 2015 to present</p>
<p><b>ASTM D30.04 Standards Committee </b>, Vice Chair 2015 to present</p>
<p><b>TCS Safety Committee</b>, Member 2013 to 2016</p>
<p><b>DjangoCon 2017</b>, Local Organizer 2017</p>
<p><b>DjangoGirls Spokane</b>, Organizer 2017</p>
<br>


{% endblock content %}
